
  .user-manual {
    height: 300px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    height: 100%;
    width: 200px;
    // position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 16px;
    text-align: center;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: #ddd;
    color: black;
}
